doctype
html(lang='en')
	head
		title= article
		meta(charset='utf-8')
		link(rel="stylesheet" href ="css/bootstrap.css")
		link(rel="stylesheet" href ="css/article.css")
	body
		.left-side#left-side
			p= "hello"
		.article#header
			img.logo_header#logo_header1(src= "pictures/logo1.png")
			img.logo_header#logo_header2(src= "pictures/mini-logo1.png")
			img.logo_header#logo_header3(src= "pictures/mini-logo2.png")
		.article#article
			h1= "С кайфом по Голландии"
			h3= "Как получить максимальное удовольствие от поездки и не разориться"
			img.news-picture#news-pic1(src= "http://puu.sh/kKWyT/eb66325f22.jpg")
			.article#inside-article
				p= "Поездка в незнакомую страну сродни полету в космос. Турист-одиночка приобретает новый опыт, в идеале интересный и полезный, но порой неприятный. Между тем многих ошибок можно запросто избежать, если подготовиться заранее. «Лента.ру» выясняла, как не испортить себе отпуск в Голландии."
				h3= "Про транспорт"
				p= "Начнем с амстердамского аэропорта. Здесь все устроено просто и логично. Аэропорт совмещен с железнодорожной станцией. Чтобы добраться до города, нужно купить билет до Amsterdam Centraal в автоматах (выбрав английский язык) или в кассе вокзала."
				p= "Здесь ждет первый подвох. Автоматы не принимают купюры, только монеты или банковские карточки. Причем при использовании Visa или MasterСard наценка на билет составит от 0,5 до 1,5 евро. Когда билет на руках, остается только приложить его к турникету на входе и на выходе конечной станции. Дальше все, что требуется, — отыскать нужный путь и сесть в поезд, чтобы через 15 минут оказаться на центральном вокзале Амстердама."
				p= "Спланировать время в пути, посмотреть номер перрона, информацию о задержках поездов, об изменении расписания и даже о загруженности конкретного поезда помогут два мобильных приложения. Первое — голландской железнодорожной компании (есть версии для Android и iOS). Максимально удобное, позволяет быстро сориентироваться на местности. Можно узнать, успеваете ли вы на поезд и разрешается ли ехать в нем с велосипедом. Второе — планировщик 9292.nl (также для Android и iOS). Выстраивает маршрут не только на поездах, но и на автобусах, трамваях, метро и паромах."
				P= "Оба приложения подгружают актуальную информацию через интернет. Роуминг за границей, как известно, дорог. Но в Голландии во многих общественных местах бесплатный wi-fi. Самые полезные бесплатные сети — это Schiphol_Airport_Wifi в аэропорту Schiphol на 24 часа, KPN на всех железнодорожных станциях, WiFi in de trein в поездах Interсity (а это большинство поездов, на которых передвигаются по стране) и Breng_Mobile_Hotspot на автобусах компании Breng. Вообще с интернетом в Голландии дела обстоят неплохо. А по сравнению с Германией и Испанией так просто отлично."
			img.news-picture#news-pic2(src= "http://puu.sh/kLbVp/26b6d262a6.jpg")
