doctype
head
		title= page
		meta(charset='utf-8')
		link(rel="stylesheet" href ="css/bootstrap.css")
		link(rel="stylesheet" href ="css/main.css")
		script(type="text/javascript" src= "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(type="text/javascript" src= "http://code.jquery.com/jquery-1.11.1.js")
body
	.wrapper
		.container#side
			h4= ""
			ul#side_list
				li.side_li: a(href="http://localhost:3000/") Главное
				li.side_li: a(href="http://localhost:3000/") Россия
				li.side_li: a(href="http://localhost:3000/") Мир
				li.side_li: a(href="http://localhost:3000/") Бывший ССРС
				li.side_li: a(href="http://localhost:3000/") Бизнес
				li.side_li: a(href="http://localhost:3000/") Силовые структуры
				li.side_li: a(href="http://localhost:3000/") Финансы
				li.side_li: a(href="http://localhost:3000/") Наука и техника
				li.side_li: a(href="http://localhost:3000/") Спорт
				li.side_li: a(href="http://localhost:3000/") Культура
				li.side_li: a(href="http://localhost:3000/") Интернет и СМИ
				li.side_li: a(href="http://localhost:3000/") Ценности
				li.side_li: a(href="http://localhost:3000/") Путешествия
				li.side_li: a(href="http://localhost:3000/") Из жизни
			ul#side_list3
				li.side_li: a(href="http://localhost:3000/") Библиотека
			ul#side_list4
				li: a(href="http://localhost:3000/") Мотор
				li: a(href="http://localhost:3000/") Дом
				li: a(href="http://localhost:3000/") Статьи
				li: a(href="http://localhost:3000/") Галлереи
				li: a(href="http://localhost:3000/") Видео
		.container#header
			img.logo_header#logo_header1(src= "pictures/logo1.png")
			img.logo_header#logo_header2(src= "pictures/mini-logo1.png")
			img.logo_header#logo_header3(src= "pictures/mini-logo2.png")
		.container#article
			h1= "Шайа Лабаф арестован за пьянство"
			img.news_img#article_picture(src= "http://puu.sh/kGgKX/eaa5eb9477.jpg")
			.container#picture_com_div
				p.news_text#picture_comment1= "JUST DO IT!"
			p.news_text#news_text
				|Актер Шайа Лабаф был арестован в городе Остин (штат Техас), сообщает портал TMZ. Ему вменяется появление в публичном месте в состоянии алкогольного опьянения.
			p.news_text= "Актер попал в поле зрения сотрудников правоохранительных органов в пятницу, 9 октября, около 19:45 (04:45 субботы по московскому времени) у одного из баров города. По словам очевидца, Лабаф находился в состоянии алкогольного опьянения, либо под воздействием лекарств. Он пытался перейти проезжую часть в неположенном месте, игнорируя требование полицейских уйти с дороги. Стражи порядка задержали актера и надели на него наручники."
			p.news_text= "Другой свидетель произошедшего рассказал, что пьяный Лабаф собирался зайти в бар, но охранники не пустили его. Актер устроил скандал, после того, как все его попытки проникнуть в заведение провалились, он вышел на проезжую часть, где и был задержан."
			p.news_text#last_text= "Шайа Лабаф известен по ролям в фильмах «Трансформеры», «Индиана Джонс и Королевство хрустального черепа», «Нимфоманка», «Ярость». Мировая популярность пришла к нему после главной роли в триллере «Паранойя» (2007 год)."
			p#links= "Ссылки по теме"
		.container#left_sider
			.container#left_sider_head
				o#more_news= "Последние новости"
			article
				.time 18:10
				a.text(href="http://localhost:3000/")
					| Руководитель «Кинопоиска» покинет
					| компанию после критики перезапуска
			article
				.time 18:10
				a.text(href="http://localhost:3000/")
					| Руководитель «Кинопоиска» покинет
					| компанию после критики перезапуска
			article
				.time 18:10
				a.text(href="http://localhost:3000/")
					| Руководитель «Кинопоиска» покинет
					| компанию после критики перезапуска
			article
				.time 18:10
				a.text(href="http://localhost:3000/")
					| Руководитель «Кинопоиска» покинет
					| компанию после критики перезапуска
			article
				.time 18:10
				a.text(href="http://localhost:3000/")
					| Руководитель «Кинопоиска» покинет
					| компанию после критики перезапуска
					

