doctype
html(lang='en')
	head
		title= article
		meta(charset='utf-8')
		link(rel="stylesheet" href ="css/bootstrap.css")
		link(rel="stylesheet" href ="css/test.css")
		link(rel="stylesheet" href ="css/media.css")
	body
		.wrapper#wrapper
			header#header
				h2= "Demopage"
				h5= "Some description"
				nav#main-nav
					ul#header-list
						li: a.nav-link(href= "http://localhost:3000/test") Home
						li: a.nav-link(href= "http://localhost:3000/test") Page   
						li: a.nav-link(href= "http://localhost:3000/test") Something   
						li: a.nav-link(href= "http://localhost:3000/test") Something else   
						li: a.nav-link(href= "http://localhost:3000/test") And more!   
			.container2#content
				article.post
					header
						h1= "Just a post"
						time.post-date(datetime= "2015-05-03" pubdate) March 5, 2015
					img.article-pic(src= "http://puu.sh/kOXd0/a96811da64.jpg")
					p= "Gurnard Blenny duckbill righteye flounder rock beauty pricklefish yellowbelly tail catfish warbonnet, orangespine unicorn fish. Clingfish luderick seahorse, walleye pollock pearleye, telescopefish jawfish sea chub eel-goby; zander codling. Streamer fish pike conger Rio Grande perch trunkfish: kappy summer flounder guitarfish yellowbelly tail catfish bango. Bluntnose knifefish pearl danio knifejaw cuchia staghorn sculpin; Blind shark tigerperch longnose dace blackfish spookfish Asiatic glassfish."
						|Eel cod flying gurnard skate cookie-cutter shark tiger barb ray pineconefish, prickly shark! Tripletail perch southern smelt sheatfish conger eel, man-of-war fish river loach popeye catafula goby alooh, pirate perch hog sucker. Cavefish coolie loach spiderfish, "grunion Atlantic herring tube-snout," eagle ray mojarra albacore black dragonfish neon tetra; electric knifefish. Herring freshwater flyingfish longfin smelt European perch worm eel beaked sandfish trout-perch tarwhine remora saury. Powen, surgeonfish daggertooth pike conger flying characin, mackerel shark olive flounder gombessa. Blacksmelt white marlin molly fingerfish silverside, tarwhine ghost fish, rough sculpin bristlenose catfish, spotted dogfish rudderfish cutthroat eel.
			aside#sidebar
				section#first-section
					h4#list-h= "Left-side bar"
					ul.left-list#testlist
						li: a.side-list(href= "http://localhost:3000/test") Link1   
						li: a.side-list(href= "http://localhost:3000/test") Link2  
						li: a.side-list(href= "http://localhost:3000/test") Link3
						li: a.side-list(href= "http://localhost:3000/test") Link4
						li: a.side-list(href= "http://localhost:3000/test") Link5
						li: a.side-list(href= "http://localhost:3000/test") Link6
			footer#footer
				p= "made by Nekorsis, maybe"